<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}Devour{{else}}Order Again{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
